l3/files/Xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Books">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Book">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="price" type="xs:int"/>
                            <xs:element name="year" type ="xs:int"/>
                            <xs:element name="type" type ="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>